
.nav-container {
    background-color: #545F66;    
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin: 4px;
    padding: 0px;
}

ul {
    position: absolute;
    top: 90px;
}

.drop-down-container {
    background: #71A9F7;
    height: 90px; 
    width: 100px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.white-bar {
    background: white;
    border-radius: 16px;
    height: 16px;
    width: 64px;
    margin: 4px;

}

.dropdown {
    background: ;
    position: absolute;
    height: 200px;
    width: 48%;
    top: 20px; 
}