@media (min-width: 1051px) {
  .full-screen-navbar {
    display: flex;
    justify-content: space-around;
    background-color: #71a9f7;
    height: 100px;
  }

  .full-screen-dropdown ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  
  a{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
}

@media (max-width: 1050px) {
  .drop-down-container {
    background: #71a9f7;
    height: 90px;
    width: 100px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }
  .nav-container {
    background-color: #545f66;
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin: 4px;
    padding: 0px;
  }
  .white-bar {
    background: white;
    border-radius: 16px;
    height: 16px;
    width: 64px;
    margin: 4px;
  }

  .dropdown {
    position: absolute;
    height: 200px;
    width: 48%;
    top: 20px;
  }
  
}
