#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #545f66;
}

.join-container{
  background-color: #d499b9;
}

.btn{
  border-radius: 5px;
  border: none;
  background-color: #545f66;
  color: #ffffff;
  font-size: 0.9rem;
}

.btn:hover{
  background-color: #888f93;
  color: #ffffff;
}

.title{
  text-align: center;
}

.title h2 {
  color: #ffffff;
  font-size: 40px;
}

.form{
  width: 80%;
}
h3{
  font-size: 18px;
  color: #ffffff;
}